<div class="fg-row fg-middle-xs">
  <div class="fg-col-sm-3">
    <h3 class='section-title'>{{name}}</h3>
    usage: .{{name}}
  </div>
  <div class="fg-col-sm-6">
    <span class={{name}}>{{text}}</span>
  </div>
  <div class="fg-col-sm-3 phx">
    {{freestyle-usage name}}
  </div>
</div>
