{{#freestyle-section name='Components' as |section|}}
  {{#freestyle-subsection name='Show Rental' section=section}}

    {{#freestyle-usage "show-rental"}}
      <div class="fg-row fg-col-xs">
        {{show-rental model=showRental}}
      </div>
    {{/freestyle-usage}}

  {{/freestyle-subsection}}

  {{#freestyle-subsection name='Show Review' section=section}}

    {{#freestyle-usage "show-review"}}
      <div class="fg-row fg-col-xs">
        {{show-review review=showReview}}
      </div>
    {{/freestyle-usage}}

  {{/freestyle-subsection}}

  {{#freestyle-subsection name='Pagination' section=section}}

    {{#freestyle-usage "pagination-component"}}
      {{pagination-component
        total=62
        perPage=12
        current=2}}
    {{/freestyle-usage}}

  {{/freestyle-subsection}}
  {{!-- {{#freestyle-subsection name='Date Rage Picker' section=section}}

    {{#freestyle-usage "date-range-picker"}}
      {{date-range-picker
        minDate='Thu Feb 16 2017 12:34:44 GMT-0800 (PST)'
        ranges=null
        customRangeLabel=null
        showCustomRangeLabel=false
        alwaysShowCalendars=true
        format="YYYY-MM-DD"
        autoApply=true
        opens="left"
        classNames="date-range-picker"
        placeholder="Choose Your Dates"
        autoUpdateInput=false
        linkedCalendars=true}}
    {{/freestyle-usage}}

  {{/freestyle-subsection}} --}}

  {{#freestyle-subsection name='Review Stars' section=section}}

    {{#freestyle-usage "review-stars"}}
      {{review-stars score=3 count=5}}
    {{/freestyle-usage}}

  {{/freestyle-subsection}}
{{/freestyle-section}}
