<div class="styleguide">

{{#freestyle-guide
  title='Ember Freestyle'
  subtitle='Living Style Guide'
  }}

  {{#freestyle-section name='Visual Style' as |section|}}

    {{#freestyle-subsection name='Fonts' section=section}}

      {{#freestyle-usage 'typography-open-sans' title='Open sans'}}
        {{freestyle-typeface fontFamily='Open sans'}}
      {{/freestyle-usage}}

      {{#freestyle-usage 'typography-montserrat' title='Montserrat'}}
        {{freestyle-typeface fontFamily='Montserrat'}}
      {{/freestyle-usage}}

    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Typography' section=section}}
      <div class="fg-row plx">
        <div class="fg-col-xs-6">
          <h1>H1 But these two harpoons</h1>
          <h2>H2 The boys laughed and lay down again in the sand</h2>
          <h3>H3 At two o'clock the guide entered a thick forest</h3>
          <h4>H4 So you understand the roaring wave of</h4>
          <h5>H5 'Come back!' the Caterpillar called after her. 'I've something important  to say!'</h5>
          <h6>H6 The tinsmiths looked the Woodman over carefully</h6>
          <p>Paragraph tag: Which brought them back again to the beginning of the conversation.  Alice felt a little irritated at the Caterpillar's making such VERY  short remarks, and she drew herself up and said, very gravely, 'I think,  you ought to tell me who YOU are, first.'</p>
        </div>
      </div>
    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Color' section=section}}

      {{#freestyle-usage title='Outdoosy Color Palette'}}
        {{freestyle-palette
        colorPalette=colorPalette

        }}
      {{/freestyle-usage}}

      {{#freestyle-usage title='Utility Palette'}}
        {{freestyle-palette
        colorPalette=grayPalette
        title='Utility Palette'
        }}
      {{/freestyle-usage}}

    {{/freestyle-subsection}}



  {{/freestyle-section}}

  {{#freestyle-section name='Atoms' as |section|}}

    {{#freestyle-subsection name='Buttons' section=section}}
      {{#freestyle-annotation}}
        <div class="mlx">
          {{partial 'partials/buttons'}}
        </div>
      {{/freestyle-annotation}}

    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Links' section=section}}
        <div class="mlx">
          <a href="#">a link</a>

          <h3>A link in text</h3>
          <p><a href="#">"How long has he been a member?"</a> he then said, turning to me; "not very long, <a href="#">I rather guess, young man.</a>"</p>
          <h3>A link in a title</h3>
          <h2><a href="#">a link</a></h2>
        </div>

    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Checkbox' section=section}}
      <div class="mlx">
        <input type="checkbox" checked="checked">
        <input type="checkbox">
      </div>
    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Radio Button' section=section}}
      <div class="mlx">
        <input type="radio" checked="checked">
        <input type="radio">
      </div>
    {{/freestyle-subsection}}

  {{/freestyle-section}}

  {{partial 'partials/components'}}

  {{partial 'partials/utilities'}}

{{/freestyle-guide}}
</div>
